<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h1>
    Nglog test page
  </h1>
</div>
<div class="m-5 text-center">
  <button type="button" class="btn btn-outline-danger mr-3" (click)="throwError()">throw unhandled error</button>
  <button type="button" class="btn btn-danger mr-3" (click)="logError()">log error</button>
  <button type="button" class="btn btn-warning mr-3" (click)="logWarn()">log warning</button>
  <button type="button" class="btn btn-primary mr-3" (click)="logLog()">log log</button>
  <button type="button" class="btn btn-info mr-3" (click)="logInfo()">log info</button>
  <button type="button" class="btn btn-secondary mr-3" (click)="logDebug()">log debug</button>
</div>
